---
layout: default
disqus: false
archive: false
post_class: post-template
---

<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{ site.baseurl }}">Home</a>
        <a class="subscribe-button icon-feed" style="display: block !important" href="{{ site.baseurl }}atom.xml">Subscribe</a>
    </nav>
</header>

<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">                
                <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
                {% if page.categories.size > 0 %} 
                    {{ page.categories | array_to_sentence_string | prepend: 'on ' }} 
                {% endif %}
            </section>
        </header>

        <section class="post-content">
            {{content}}
        </section>

        {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}    
            </ul>
        </section>
        {% endif %}

		<ul class="previous-next">
        {% if page.previous %}
        	<li class="prev"><a class="internal" rel="prev"  href="{{ page.previous.url }}" title="View {{ page.previous.title }}">&laquo; {{ page.previous.title }}</a></li>
         {% endif %}
         {% if page.next %}
         	<li class="next"><a class="internal" rel="next"  href="{{ page.next.url }}" title="View {{ page.next.title }}">{{ page.next.title }} &raquo;</a></li>
         {% endif %}	
		</ul>
		<br style="clear:both" />
        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.author %}
                <figure class="author-image">
                    <a class="img" href="/about.html" style="background-image: url(/assets/images/profile.png)">
                    <span class="hidden">{{site.author}}'s Picture</span></a>
                </figure>
                <section class="author">
                    <!-- Author Name -->
                    <h4> {{ site.author }} </h4>
                    <!-- Author Bio -->
                    <p> 
					Podróżnik, fanatyk piosenki turystycznej, bloger, linuksowiec, programista pythona. To tak w skrócie. <a href="/about.html">Więcej o mnie.</a>
                    </p>
                </section>                
            {% endif %}

            <!-- Share links section -->
			{% include share.html %}
            
            <!-- Disqus comments -->
                {% include disqus.html %}
            
        </footer>

    </article>

</main>
